# Android Studio
.idea/
.gradle/
local.properties
*.iml

# Built application files
*.apk
*.ap_
*.aab

# Gradle files
/build/

# Android
*.log
*.keystore
*.jks

# Proguard
proguard/
proguard-rules.pro

# Miscellaneous
.DS_Store
*.swp
*.swo